/* Reset default margin and padding */
body {
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  background-position: center; 
  background-image: url(./../Images/imagebackground.jpg); 
  background-size: 1300px;
  font-size: 23px;

   }
/* Style headings */
h3, .animation {
  color: #eeebeb;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1px;
  font-family: 'Times New Roman', Times, serif;
  
}

/* Header styles */
header {
  font-size:15px;
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  border-radius: 3px;
}
/* Animation code */
.animation {
  position: relative;
  animation: move 5s forwards;
  
}
@keyframes move {
  0% {
    left: 0px;  
  }

  100% {
    left: 39px; /* Return to center */
  }
}

/* Style links */
a {
  color: #e0e7ee;
  text-decoration: none;
}

a:hover {
  color: rgb(176, 188, 191);
}
 a:active{
  color: rgb(6, 18, 21);
}

/* Style lists */
ul {
  list-style-type: none;
  margin-bottom: 20px;
}

/* Style list items */
li {
  margin-bottom: 10px;
}

/* Add some spacing between list items */
ul > li:not(:last-child) {
  margin-bottom: 10px;
}



nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-left: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #e6cfcf;
}

.div2 {
  position: absolute;
  top: 33%;
  left: 50%; 
  right: 60%;
  transform: translate(-50%, -30%);
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  align-items: center;
  justify-content: center;
  text-align: center;
  padding:3%;
  width: 350px;
  height: 87px;
  border-radius: 12px;
  background-color: #010a0c;
  color: #f6f3f3;
  font-size: 12px;
  font-family: 'Times New Roman', Times, serif;
}

.btn {
  margin-top: 0px; /* Add some space between div content and button */
  display: inline-block;
  padding: 10px 20px;
  background-color: #0f56a2;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 3s;
}

.btn:hover {
  background-color: #e8edf3;
}

.btn :active{
  bottom: 84 ;
}